.search-box{
  width:100%;
    max-width:400px;
    padding:10px;
    margin:20px 0;
}
.container{
    align-items:center;
}
.jobs-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

@media(max-width:768px){
    .jobs-grid{
        grid-template-columns:1fr;
    }
}